.g_tbdr{
  border:1px dashed red;
   height: 100px;
   width: 100px;
}
.container{
  display:flexbox;
  align-items: center;
}
.container > .Box3{
  justify-content: flex-end;
}
.Box1{
  text-align: center;  
  background-color: red;
  margin-top: 50px;
  margin-left: 150px;

     
  }
  .Box2{
     text-align: center; 
     background-color: bisque;
     margin-top: 50px;
     margin-left: 100px;
    
  }
  .Box3{
     text-align:center;
     background-color: blueviolet;
     margin-top: 50px;
     margin-left: 100px;
       }